<a href="https://colab.research.google.com/github/Seunsoipe/Python-Second-Checkpoint/blob/main/Final_Python_Checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Display numbers from -10 to -1 using for loop

In [21]:
for i in range(-10,-0): 
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Q2. Given a number count the total number of digits in a number, for example, the number is 75869, so the output should be 5

In [19]:
num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

Q3. Write a function which Displays the cube of the number up to a given integer, for example the number is 2 the cube should be 8

In [6]:
number = int(input(" Please Enter any numeric Value : "))

cube = number * number * number

print("The Cube of a Given Number {0}  = {1}".format(number, cube))

 Please Enter any numeric Value : 2
The Cube of a Given Number 2  = 8

Q4. Given two integer numbers return their product. If the product is greater than 1000, then return their sum

In [11]:
num1=int(input("enter no. 1: " ))

num2=int(input("enter no. 2: "))

product = num1*num2

res= (num1+num2) if product > 1000 else product

print(res)

enter no. 1: 100
enter no. 2: 600
700

Q5. Given a list of numbers, return True if first and last number of a list is same

In [22]:
list_of_numbers = [7, 4, 3, 2, 7]

if list_of_numbers[0] == list_of_numbers[-1]:
  print(True)
else:
  print(False)

True

Q6. Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list, for example list1 =  [10, 20, 23, 11, 17] and list 2 = [13, 43, 24, 36, 12]  => result should be [23, 11, 17, 24, 36, 12]

In [20]:
List1 = [10, 20, 23, 11, 17]
List2 = [13, 43, 24, 36, 12]
List3 = [n for n in List1 if n%2]+[n for n in List2 if not n%2]
print(List3)

[23, 11, 17, 24, 36, 12]

Q7. Write a function which Iterates a given list and counts the occurrence of each element and creates a dictionary to show the count of each element, for example: input list  [11, 45, 8, 11, 23, 45, 23, 45, 89]=> result should be {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [16]:
def CountFreq(li):
  freq = {}
  for items in li:
    freq[items] = li.count(items)
  print(freq)
li =[11, 45, 8, 11, 23, 45, 23, 45, 89]
CountFreq(li)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

Q8. Write a function which finds the intersection of two sets and removes common elements from the first set. for example: First Set  {65, 42, 78, 83, 23, 57, 29} and Second Set  {67, 73, 43, 48, 83, 57, 29} => Intersection should be  {57, 83, 29} and First Set after removing common element  {65, 42, 78, 23}

In [17]:
first_set = {65, 42, 78, 83, 23, 57, 29}
second_set = {67, 73, 43, 48, 83, 57, 29}

print("First Set ", first_set)
print("Second Set ", second_set)

intersection = first_set.intersection(second_set)
print("Intersection is ", intersection)
for item in intersection:
    first_set.remove(item)

print("First Set after removing common element ", first_set)

First Set  {65, 42, 78, 83, 23, 57, 29}
Second Set  {67, 73, 43, 48, 83, 57, 29}
Intersection is  {57, 83, 29}
First Set after removing common element  {65, 42, 78, 23}